nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.bordertop {
    border-top: 1px solid red;
}

.borderbottom {
    border-bottom: 1px solid green;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.borderright {
    border-right: 1px solid blue;
}

.borderleft {
    border-left: 1px solid purple;
}

.rainbowborder {
    border-top: 1px solid #ff0000;
    border-bottom: 2px dotted #00ff00;
    border-right: 3px solid #0000ff;
    border-left: 4px solid #ff00ff;
}    

.blockimg {
    display: block;
}