#wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 960px;
    margin: 1em auto;
    border: 5px solid #2c2c98;
    background-image: linear-gradient(to bottom, #1651d2, #1543c0, #1335ae);
}

body {
    background-color: rgb(203, 203, 203);
}

header {
    display: grid;
    grid-column: span 3;
    background-color: #0000ff;
    background-image: linear-gradient(to bottom, #136ef6, #165fe4, #1651d2);
}

h1 a {
    display: block;
    color: rgb(107, 188, 239);
    text-decoration: none;
    font-style: italic;
    padding: 10px 10px 10px 30px;
    font-family: Helvetica, Arial, sans-seriff;
    font-weight: normal
}

nav {
    grid-column: span 3;
}

nav ul {
    padding: 0px;
}

ul li {
    list-style-type: none;
    display: inline-block;
}

ul li a {
    display: block;
    text-decoration: none;
    padding: 15px 30px 15px 20px;
    margin: 0px;
    width: 187px;
    color: rgb(89, 183, 242);
    background-color: blue;
    background-image: linear-gradient(to bottom, #3b86f6, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
    font-family: Helvetica, Arial, sans-seriff;
}

ul li a:hover {
    color: white;
    background: rgb(60, 60, 249);
    background-image: linear-gradient(to bottom, #3b86f6, #136ef6, #165fe4, #1651d2, #1543c0, #1335ae);
}

.thisPage {
    color: white;
}

main {
    grid-column: span 1;
    background-color: white;
}

main h2 {
    text-align: left;
    padding: 0px;
    margin: 30px 20px 20px 20px;
    color: #2c2c98;
    border-bottom: 3px solid #2c2c98;
}

main p {
    text-align: justify;
    font-weight: bold;
    text-align: justify;
    margin: 10px 20px 10px 20px;
    padding: 0px;
}

aside {
    grid-column: span 2;
    background-color: lightblue;
}

aside h2 {
    text-align: left;
    padding-bottom: 5px;
    margin: 30px 20px 20px 20px;
    color: #2c2c98;
    border-bottom: 3px solid #2c2c98;
}

aside img {
    float: left;
    width: 300px;
    margin: 10px 20px 10px 20px;
    border: 3px solid black;
}

aside p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    margin: 10px 20px 15px 20px;
}

.aside2 {
    margin: 10px 30px 30px 20px;
}

aside a {
    font-weight: bold;
    text-decoration: none;
    color: red;
}

footer {
    display: grid;
    padding: 10px;
    grid-column: span 3;
    border-top: 5px solid #2c2c98;
    background-color: red;
}