#title {
    color: #860202;
    background-color: #f1f1f1;
}

.info {
    color: #860202;
}

h2 {
    color: #860202;
    background-color: #f1f1f1;
}

h3 {
    color: #860202;
    background-color: #fafafa;
}


a:link {
    color: #9e0000;
    text-decoration: underline;
}

a:hover {
    color: #b8a604;
    text-decoration: underline;
  }   

a:visited {
    color: #007510;
    text-decoration: underline;
}
